<!-- Modal -->
<div class="modal fade" {% block modal-id %} id="addBranchModal" {% endblock modal-id %} tabindex="-1" aria-labelledby="addBranchModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h6 class="modal-title" id="addBranchModalLabel">{% block modal-title %}<i class="fas fa-plus"></i>&nbsp;&nbsp; Create Branch{% endblock modal-title %}</h6>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!--Forms begins-->
        <form {% block Action %} action="{% url 'branch' %}" {% endblock Action %} method="POST" class="card p-3 border-dark mt-3" enctype="multipart/form-data">
          {% csrf_token %}
  
          <div class="modal-body">
  
          <!--==Block Id==-->
          {% block Value-id %}  {% endblock Value-id %}
  
            <div class="mb-3">
              <label for="id_name" class="form-label">Name</label>
              <input name="name" type="text" class="form-control" id="id_name" placeholder="Branch Name" required {% block Value-name %} {% endblock Value-name %}>
              {% if form.name.errors %}<div class="text-danger small mt-1">{{ form.name.errors.0 }}</div>{% endif %}
            </div>
            <div class="mb-3">
                <label for="id_address" class="form-label">Address</label>
                <input name="address" type="text" class="form-control" id="id_address" placeholder="Branch Address" required {% block Value-address %} {% endblock Value-address %}>
                {% if form.address.errors %}<div class="text-danger small mt-1">{{ form.address.errors.0 }}</div>{% endif %}
            </div>

            <div class="mt-4 text-center" style="width:100%;">
              <button type="submit" class="btn btn-secondary">
                {% block Btn-action %}<i class="fas fa-plus"></i>&nbsp;&nbsp; Create Branch{% endblock Btn-action %}
              </button>
              
              <button type="reset" class="btn btn-secondary" title="Reset">
                <i class="fas fa-sync-alt"></i>
              </button>
            </div>
          </div>
        </form>
        <!--Form ends-->
      </div>
    </div>
</div>
  
  