{% extends 'base.html' %}
{% load static %}
{% block title %} Settings {% endblock title %}

{% block content %}
<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">			    
        <h1 class="app-page-title">Settings</h1>
        <hr class="mb-4">
        <div class="row g-4 settings-section">
            <div class="col-12 col-md-4">
                <h3 class="section-title">General</h3>
                <div class="section-intro">Settings section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="help.html">Learn more</a></div>
            </div>
            <div class="col-12 col-md-8">
                <div class="app-card-body">
                    <form class="settings-form">
                        <div class="mb-3">
                            <label for="setting-input-1" class="form-label">Business Name</label>
                            <input type="text" class="form-control" id="setting-input-1" value="{{ organization.name }}" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="setting-input-2" class="form-label">Business Type</label>
                            <input type="text" class="form-control" id="setting-input-2" value="{{ organization.get_business_type_display }}" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="setting-input-3" class="form-label">Country</label>
                            <input type="text" class="form-control" id="setting-input-3" value="{{ organization.country }}" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="setting-input-4" class="form-label">Active</label>
                            <input type="text" class="form-control" id="setting-input-4" value="{{ organization.is_active }}" disabled>
                        </div>
                        <button type="button" class="btn app-btn-primary" data-bs-toggle="modal" data-bs-target="#editOrganizationModal">
                            Edit Organization
                        </button>
                    </form>
                </div>

            </div>
        </div><!--//row-->
        <hr class="my-4">
        <div class="row g-4 settings-section">
            <div class="col-12 col-md-4">
                <h3 class="section-title">Plan</h3>
                <div class="section-intro">Settings section intro goes here. Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="help.html">Learn more</a></div>
            </div>
            <div class="col-12 col-md-8">
                <div class="app-card app-card-settings shadow-sm p-4">
                    <div class="app-card-body">

                        {% if subscription %}
                            <div class="mb-2"><strong>Current Plan:</strong> {{ subscription.plan.name }}</div>
                            <div class="mb-2">
                                <strong>Status:</strong>
                                {% if subscription.is_active %}
                                    <span class="badge bg-success">Active</span>
                                {% else %}
                                    <span class="badge bg-danger">Expired</span>
                                {% endif %}
                            </div>
                            <div class="mb-2">
                                <strong>Expires:</strong> {{ subscription.end_date|date:"Y-m-d" }}
                            </div>
                            <div class="mb-4">
                                <strong>Invoices:</strong> 
                                {% comment %} Add the button to view the subscription history {% endcomment %}
                                {% comment %} <a href="{% url 'invoices' subscription.id %}">view</a> {% endcomment %}
                            </div>
                        {% else %}
                            <div class="mb-2"><strong>Current Plan:</strong> None</div>
                            <div class="mb-2"><strong>Status:</strong> <span class="badge bg-secondary">No Active Plan</span></div>
                        {% endif %}

                        <div class="row justify-content-between">
                            <div class="col-auto">
                                <button class="btn btn-primary text-white" data-bs-toggle="modal" data-bs-target="#upgradePlanModal">
                                    {% if subscription %}Upgrade Plan{% else %}Choose Plan{% endif %}
                                </button>
                            </div>
                            {% if subscription %}
                                <div class="col-auto">
                                    <button type="button" class="btn app-btn-secondary" data-bs-toggle="modal" data-bs-target="#cancelSubscriptionModal">
                                        Cancel Plan
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </div><!--//app-card-body-->
                </div><!--//app-card-->


            </div>
        </div><!--//row-->
        <hr class="my-4">
    </div><!--//container-fluid-->
</div><!--//app-content-->

<!-- Include Modals -->
{% include 'modals/subscription.html' %}
{% include 'modals/cancel_subscription.html' %}
{% include 'modals/edit_organization_branding.html' %}

{% endblock content %}