# Django
# SECRET_KEY=changeme (Note: Escape '$' as '$$' if used in Docker Compose)
# DEBUG=False
# ENV=production
# ALLOWED_HOSTS=yourdomain.com
# CSRF_TRUSTED_ORIGINS=https://yourdomain.com
# DEFAULT_FROM_EMAIL=noreply@yourdomain.com

# Database
DB_NAME=quicksales
DB_USER=quicksales
DB_PASSWORD=changeme
DB_HOST=db
DB_PORT=5432

# Celery / Redis
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Email (SMTP)

# EMAIL_HOST=smtp.zoho.com
# EMAIL_PORT=587
# EMAIL_USE_TLS=True
# EMAIL_HOST_USER=info@vextechafrica.com
# EMAIL_HOST_PASSWORD=HLJHrCgR64qY
# DEFAULT_FROM_EMAIL=info@vextechafrica.com

# Paystack
PAYSTACK_PUBLIC_KEY=pk_test_xxx
PAYSTACK_SECRET_KEY=sk_test_xxx

# PgAdmin (optional)
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=changeme
