<!-- Modal -->
<div class="modal fade" id="addStaffModal" tabindex="-1" aria-labelledby="addStaffModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h6 class="modal-title" id="addStaffModalLabel">
          <i class="fas fa-plus"></i>&nbsp;&nbsp; Add Staff
        </h6>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      <!-- Form begins -->
      <form 
        {% if branch and branch.id %} 
          action="{% url 'staff' branch.id %}" 
        {% else %} 
          action="#" 
        {% endif %} 
        method="POST" 
        class="card p-3 border-dark mt-3"
      >
        {% csrf_token %}

        <div class="modal-body">

          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input name="email" type="email" class="form-control" placeholder="Email" required>
          </div>

          <div class="mb-3">
            <label for="first_name" class="form-label">First Name</label>
            <input name="first_name" type="text" class="form-control" placeholder="First Name" required>
          </div>

          <div class="mb-3">
            <label for="last_name" class="form-label">Last Name</label>
            <input name="last_name" type="text" class="form-control" placeholder="Last Name" required>
          </div>

          <div class="mb-3">
            <label for="phone_number" class="form-label">Phone Number</label>
            <input name="phone_number" type="text" class="form-control" placeholder="Phone Number" required>
          </div>

          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <select name="role" class="form-select" required>
              <option value="" disabled selected>Select Role</option>
              <option value="owner">Owner</option>
              <option value="manager">Manager</option>
              <option value="sales">Sales</option>
            </select>
          </div>

          <div class="mt-4 text-center" style="width:100%;">
            <button type="submit" class="btn btn-secondary">
              <i class="fas fa-plus"></i>&nbsp;&nbsp; Add Staff
            </button>
            <button type="reset" class="btn btn-secondary" title="Reset">
              <i class="fas fa-sync-alt"></i>
            </button>
          </div>
        </div>
      </form>
      <!-- Form ends -->
    </div>
  </div>
</div>
