{% extends 'base.html' %}
{% load static %}
{% block title %} Sales {% endblock title %}

{% block content %}

<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xl">
        
        <div class="row g-3 mb-4 align-items-center justify-content-between">
            <div class="col-auto">
                <h1 class="app-page-title mb-0">Sales</h1>
            </div>
            <div class="col-auto">
                 <div class="page-utilities">
                    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                        <div class="col-auto">
                            <form class="table-search-form row gx-1 align-items-center" method="GET" action=".">
                                <div class="col-auto">
                                    <input type="text" id="search-orders" name="rep" class="form-control search-orders" placeholder="Sales Rep" {% if request.GET.rep %}value="{{ request.GET.rep }}"{% endif %}>
                                </div>
                                <div class="col-auto">
                                    <select class="form-select" name="status" id="status" style="min-width: 150px;">
                                        <option value="">All Statuses</option>
                                        <option value="open" {% if request.GET.status == 'open' %}selected{% endif %}>Open</option>
                                        <option value="completed" {% if request.GET.status == 'completed' %}selected{% endif %}>Completed</option>
                                        <option value="cancelled" {% if request.GET.status == 'cancelled' %}selected{% endif %}>Cancelled</option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <select class="form-select" name="method" id="method" style="min-width: 150px;">
                                        <option value="">All Methods</option>
                                        <option value="Cash" {% if request.GET.method == 'Cash' %}selected{% endif %}>Cash</option>
                                        <option value="Transfer" {% if request.GET.method == 'Transfer' %}selected{% endif %}>Transfer</option>
                                        <option value="POS" {% if request.GET.method == 'POS' %}selected{% endif %}>POS</option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <div class="input-group date" id="datepicker">
                                        <input type="text" class="form-control" name="start_date" id="due" placeholder="Start Date" aria-describedby="basic-addon2" {% if request.GET.start_date %}value="{{ request.GET.start_date }}"{% endif %}>
                                        <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="input-group date" id="datepicker">
                                        <input type="text" class="form-control" name="end_date" id="due2" placeholder="End Date" aria-describedby="basic-addon2" {% if request.GET.end_date %}value="{{ request.GET.end_date }}"{% endif %}>
                                        <span class="input-group-text" id="basic-addon2"><i class="fa-solid fa-calendar"></i></span>
                                    </div>
                                </div> 
                                <div class="col-auto">
                                    <button type="submit" class="btn app-btn-secondary">Search</button>
                                </div>  
                            </form>
                        </div><!--//col-->
                        
                    </div><!--//row-->
                </div><!--//table-utilities-->
            </div><!--//col-auto-->
        </div><!--//row-->
        
        <div class="col-auto pb-2 d-flex gap-2">
            <a type="submit" class="btn app-btn-secondary" href="{% url 'export_sales' branch.id %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">Export Filtered CSV</a>
            <a type="submit" class="btn app-btn-secondary" href="{% url 'export_sales' branch.id %}">Export All CSV</a>
            <a type="submit" class="btn app-btn-secondary" href="{% url 'sale-pdf' branch.id %}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}">Export Filtered PDF</a>
            <a type="submit" class="btn app-btn-secondary" href="{% url 'sale-pdf' branch.id %}">Export All PDF</a>
        </div>  
        {% comment %} <div class="col-auto pb-2">
           
        </div> {% endcomment %}
        <div class="tab-content" id="orders-table-tab-content">
            <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                <div class="app-card app-card-orders-table shadow-sm mb-5">
                    <div class="app-card-body">
                        <div class="table-responsive">
                            <table class="table app-table-hover mb-0 text-left" id="salesPdf">
                                <thead>
                                    <tr>
                                        <th class="cell">Sales Rep</th>
                                        <th class="cell">Trans Id</th>
                                        <th class="cell">Status</th>
                                        <th class="cell">Method</th>
                                        <th class="cell">Date</th>
                                        <th class="cell">Quantity</th>
                                        <th class="cell">Total</th>
                                        <th class="cell">Profit</th>
                                        <th class="cell"></th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    {% for sale in sale_page %}
                                    <tr>
                                        <td class="cell">{{sale.staff.first_name}}</td>
                                        <td class="cell"><span class="truncate">{{sale.transaction_id}}</span></td>
                                        <td class="cell">
                                            {% if sale.cancelled %}
                                                <span class="badge bg-danger">Cancelled</span>
                                            {% elif sale.completed %}
                                                <span class="badge bg-success">Completed</span>
                                            {% else %}
                                                <span class="badge bg-warning text-dark">Open</span>
                                            {% endif %}
                                        </td>
                                        <td class="cell"><span>{{sale.method}}</span></td>
                                        <td class="cell"><span>{{sale.date_updated}}</span></td>
                                        <td class="cell"><span class="badge bg-success">{{sale.get_cart_items}}</span></td>
                                        <td class="cell">{{sale.final_total_price}}</td>
                                        <td class="cell">{{sale.total_profit}}</td>
                                        <td class="cell">
                                            <a class="btn-sm app-btn-secondary" href="{% url 'reciept' sale.id %}"><i class="fa-solid fa-receipt"></i></a>&nbsp;
                                            {% comment %} <a class="btn-sm app-btn-secondary" style="cursor:pointer;" data-bs-toggle="modal" data-bs-target="#deleteSaleModal{{sale.pk}}"><i class="fa-solid fa-trash-can"></i></a> {% endcomment %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div><!--//table-responsive-->
                       
                    </div><!--//app-card-body-->		
                </div><!--//app-card-->
                <div class="pagination">
                    <span class="step-links">
                      <nav aria-label="Page navigation example">
                        <ul class="pagination" style="color:yellow;">
                            {% if sale_page.has_previous %}
                            <li class="page-item"><a class="page-link" style="color:grey;" href="?page={{ sale_page.previous_page_number }}{% if request.GET.rep %}&rep={{ request.GET.rep }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.method %}&method={{ request.GET.method }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}">previous</a></li>
                            {% endif %}
                            {% for i in nums %}
                            <span class="current">
                            <li class="page-item"><a class="page-link" style="color:grey;" href="?page={{forloop.counter}}{% if request.GET.rep %}&rep={{ request.GET.rep }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.method %}&method={{ request.GET.method }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}">{{forloop.counter}}</a></li>
                            </span>
                            {% endfor %}
                            {% if sale_page.has_next %}
                            <li class="page-item"><a class="page-link" style="color:grey;" href="?page={{ sale_page.next_page_number }}{% if request.GET.rep %}&rep={{ request.GET.rep }}{% endif %}{% if request.GET.status %}&status={{ request.GET.status }}{% endif %}{% if request.GET.method %}&method={{ request.GET.method }}{% endif %}{% if request.GET.start_date %}&start_date={{ request.GET.start_date }}{% endif %}{% if request.GET.end_date %}&end_date={{ request.GET.end_date }}{% endif %}">next</a></li>
                            {% endif %}
                        </ul>
                      </nav>
                    </span>
                </div>
        </div><!--//tab-content-->             
    </div><!--//container-fluid-->
</div><!--//app-content-->
{% endblock content %}
